# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.bin

# Executables
*.exe
*.out
*.app

# Lazarus
backup/
lib/
*.ppu
*.dbg

# Delphi
__*/ 
*dcu
*.identcache
*.local
*-ubyte
*meta.txt

#misc media
*.jpg
*.bmp
*.mkv
*.ts
*.avi
*.mp4